<h1><a href="https://github.com/bfwg/springboot-jwt-starter">Identiphy Portal - APIs list</a></h1>
<div ng-show="authenticated">
	<p>Welcome <b>{{user.firstname}} {{user.lastname}}</b></p>
	<p>Your authority(s)
		<code ng-repeat="authority in user.authorities">{{authority.authority | limitTo:999:5}}</code>
	</p>
</div>
<div  ng-show="!authenticated">
	<p>You are an anonymous user.</p>
</div>
<p>Click the links below and see the result.</p>

<div style="margin-bottom: 10px;">
    <button type="button" class="btn btn-info" ng-click="getUserInfo()">/whoami</button>
    <button type="button" class="btn btn-info" ng-click="getAllUserInfo()">/user/all</button>
    <button type="button" class="btn btn-info" ng-click="getAllBiometricTypesInfo()">/biometrictype/all</button>
    <button type="button" class="btn btn-info" ng-click="createNewTenant()">/tenant - post</button>
    <button type="button" class="btn btn-info" ng-click="deleteTenant()">/tenant -delete</button>
    <button type="button" class="btn btn-info" ng-click="getAllTenant()">/tenant -get all</button>
    <button type="button" class="btn btn-info" ng-click="getTenant()">/tenant -get</button>
    <button type="button" class="btn btn-info" ng-click="getTenantUsers()">/tenant -get users</button>
	<button type="button" class="btn btn-info" ng-click="createNewTenantUser()">/tenant user - post</button>
    <button type="button" class="btn btn-info" ng-click="deleteTenantUser()">/tenant user-delete</button>
    <button type="button" class="btn btn-info" ng-click="getTenantUser()">/tenant user-get</button>
    <button type="button" class="btn btn-info" ng-click="getAllTenantUsers()">/tenant user -get all</button>
	<button type="button" class="btn btn-info" ng-click="createNewTenantUserSubscription()">/tenant user  subscription- post</button>
    <button type="button" class="btn btn-info" ng-click="deleteTenantUserSubscription()">/tenant user  subscription-delete</button>
    <button type="button" class="btn btn-info" ng-click="getTenantUserSubscription()">/tenant user subscription-get</button>
    <button type="button" class="btn btn-info" ng-click="getAllTenantUserSubscriptions()">/tenant user  subscription-get all</button>   
    
    <button type="button" class="btn btn-info" style="background-color: red !important;" ng-click="getTenantSubscriptions()">/tenant subscriptions - get by tenant id</button> 
</div>

<div class="alert {{responseBoxClass}}" ng-show="serverResponse">
    <b>Server Response:</b>
    <pre>Path: /{{serverResponse.config.url}}</pre>
    <pre>Method: {{serverResponse.config.method}}</pre>
    <pre>Status: {{serverResponse.status}}</pre>
    <pre>Data: {{serverResponse.data}}</pre>
</div>
